@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active{
  font-weight:bold;
}

.darken{
  filter:brightness(50%);
}
.mobilebg{
  filter:brightness(30%);
}

.pending{
  animation:pending 1.5s ease-in-out infinite alternate;
}

.del-item{
  animation:slideLeft 0.3s ease;
}
.fadeOut{
  animation:fadeOut 2s ease-in-out;
}

@keyframes slideLeft{
  from{
    transform:translateX(0);
    opacity:1;
  }
  to{
    transform:translateX(-500px);
    opacity:0;
  }
}

@keyframes fadeOut{
  from{
    opacity:1;
  }
  to{
    opacity: 0;
  }
}

.activeProgress{
  color:rgb(100,100,100);
}

.glow{
  text-shadow:0 0 10px rgb(225,132,84);
}

@keyframes pending{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
